# Gradle things.
/buildSrc/build
/buildSrc/.gradle
/build
.gradle
/dist/

# IntelliJ IDEA things
/.idea
*.iml
*.ipr
*.iws
/out

# Netbeans things
/buildSrc/.nb-gradle/
/.nb-gradle/
/nbproject/

# Eclipse things
/.classpath
/.project
/.settings/
/bin

# Generated
/grails-doc/src/ref/webView/Properties.gdoc
