# Gradle things.
/build
/.gradle
/buildSrc/build
/buildSrc/.gradle
/dist/

# IntelliJ IDEA things
/out
/.idea
*.iml
*.ipr
*.iws

# Netbeans things
/nbproject/

# Eclipse things
/.classpath
/.project
/.settings/

# Generated
/grails-doc/src/ref/webView/Properties.gdoc
