# Gradle things.
/build
/.gradle
/buildSrc/build
/buildSrc/.gradle
/dist/

# IntelliJ IDEA things
/.idea
*.iml
*.ipr
*.iws
/out

# Netbeans things
/nbproject/

# Eclipse things
/.classpath
/.project
/.settings/
/bin

# Generated
/grails-doc/src/ref/webView/Properties.gdoc
