/*
   Dummy stylesheet allowing for some customisation without having to
   copy and modify the other stylesheets.
*/

#groovyfxlogo {
    background-image: url(../img/GroovyFX_logo_text.png);
    background-repeat: no-repeat;
    width: 384px;
    height: 100px;
}