/*
   Dummy stylesheet allowing for some customisation without having to
   copy and modify the other stylesheets.
*/

#groovyfxlogo {
    background-image: url(../img/GroovyFX_logo.png);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
}