.root {
    -fx-background-color: radial-gradient(radius 100%, #93D4EF, #496977);
}

.label {
    -fx-text-fill: white;
}

#header {
    -fx-font-size: 18;
    -fx-padding: 0 0 10 0;
}

.submit {
    -fx-spacing: 10;
}

.form {
    -fx-padding: 25 25 25 25;
    -fx-alignment: top-center;
    -fx-hgap: 5;  /* doesn't work */
    -fx-vgap: 10; /* doesn't work */
}